<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="HIMS" connectionString="Data Source=DESKTOP-E51SEQV;Initial Catalog=HMSDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HospitalInformationManagementSystem.Properties.Settings.HMSDBConnectionString"
            connectionString="Data Source=DESKTOP-E51SEQV;Initial Catalog=HMSDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>